
///////////////////////////////////////////////////////////

.minimap {
  .git-line-modified{ background: fade(@syntax-color-modified, 10%); }
  .git-line-added { background: fade(@syntax-color-added, 15%); }
  .git-line-removed { background: fade(@syntax-color-removed, 15%);  }
}
